# Zignoruj pliki meta Unity
*.meta linguist-vendored

# Zignoruj shadery (ShaderLab)
*.shader linguist-vendored
*.cginc linguist-vendored
*.compute linguist-vendored

# Zignoruj zewnętrzne biblioteki i paczki, jeśli je masz
Assets/Plugins/** linguist-vendored