# Oznacz wszystko co nie jest kodem jako 'vendored' (czyli zewnętrzne/nieistotne)
*.shader linguist-vendored
*.cginc linguist-vendored
*.compute linguist-vendored
*.mat linguist-vendored
*.meta linguist-vendored
*.unity linguist-vendored
*.asset linguist-vendored

# Jeśli masz gotowe paczki z Asset Store, zignoruj cały folder
Assets/Plugins/** linguist-vendored